

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://img.freepik.com/vector-premium/forma-cruz-medica-geometrica-abstracta-fondo-concepto-medicina-ciencia-medicina-medica_258787-1469.jpg?semt=ais_hybrid&w=740) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    margin-top: 2.5rem;
    width: 27rem;
    background-color: transparent;
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.94rem);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1.25rem;
}

.wrapper h1 {
    font-size: 1.85rem;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 3.125rem;
    position: relative;
    margin: 1.87rem 0;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    padding: 1.25rem 2.9rem 1.25rem 1.25rem;
    background: transparent;
    border: none;
    outline: none;
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
    border-radius: 1.51rem;
}

.wrapper .input-box input::placeholder {
    color: navy;
}

.wrapper .input-box i {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    color: navy;
}

.wrapper .btn {
    width: 100%;
    height: 2.9rem;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    box-shadow: 0 0 0 0.7rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wrapper .register-link {
    text-align: center;
    font-size: 0.875rem;
}

.wrapper .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}
